@model IEnumerable<Examen2daUnidad.Models.Task>
@{
    ViewData["Title"] = "TaskOfCategory";

    var id = @ViewContext.RouteData.Values["id"];
}

<h1 class="text-center" style="color:whitesmoke">Tareas por Categoria</h1>
<br /><br />

<body style="background-color:black">

    <div class="container">

        <div class="container-fluid">
            <a class="navbar-brand">MENU</a>
        </div>

        <div class="row">
            <div class="col-lg-4">

                <div class="col-sm-5 col-md-6">

                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a asp-controller="Categories" asp-action="Index" class="nav-link " data-bs-target="#v-pills-profile" type="button" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-edit"></i> Lista de Categorias</a>
                        <a asp-controller="Tasks" asp-action="Index" class="nav-link active" data-bs-target="#v-pills-profile" type="button" aria-controls="v-pills-home" aria-selected="false"><i class="fas fa-edit"></i> Tareas</a>

                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8">
                <table class="table table-dark table-striped">

                    <thead>
                        <tr>
                            <div class="align-content-lg-start">

                            </div>

                            <div class="align-content-lg-start">

                            </div>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                            <th>@Html.DisplayNameFor(model => model.FinishDate)</th>
                            <th>@Html.DisplayNameFor(model => model.CategoryId)</th>


                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.CategoryId.ToString() == id.ToString())
                                {

                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FinishDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>

                                }

                            </tr>
                        }
                    </tbody>
                </table>


            </div>



        </div>


</body>



